<div class="container d-flex justify-content-center border border-1 mt-3">
    <div>
        <h1 class="text-center">Registro de usuario</h1>
        <form method="POST" action="/signup" class="d-flex align-items-center">
            <input type="text" name="username" id="username" placeholder="username" class="m-1">
            <input type="text" name="password" id="password" placeholder="password" class="m-1">
            <button class="btn btn-primary m-1" type="submit">Registrarse</button>
        </form>
        <p class="text-center mb-0">Ya tenes cuenta?</p>
        <p class="text-center mt-0"><a href="/login">Iniciar sesión</a></p>
    </div>
</div>